aiokafka==0.10.0
aiohttp==3.9.5
beautifulsoup4==4.12.3
bcrypt==4.0.1
elasticsearch[async]==8.13.2
email-validator==2.1.1
fastapi==0.111.0
passlib[bcrypt]==1.7.4
psycopg2-binary==2.9.9
pydantic-settings==2.2.1
python-jose[cryptography]==3.3.0
python-dotenv==1.0.1
python-multipart==0.0.9
redis==5.0.4
SQLAlchemy==2.0.30
uvicorn[standard]==0.29.0
